{% extends 'base.html' %}

{% block title %}Upload Video{% endblock %}

{% block banner %}

{% endblock %}

{% block content %}
<div class="section-margin">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 bg-light pt-4 pb-4">
                <h1>Upload Video</h1>
                <form action="" method="post" role="form" enctype="multipart/form-data">
                    {% for field in form %}
                        <div class="form-group">
                            {{ field(class_='form-control') }}
                        </div>
                        {% if field.errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for err in field.errors %}
                                    <p>{{ err|e }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <input type="submit" class="btn btn-primary" value="Upload Video">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}